/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    scroll-behavior: smooth;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin-top:0;
    
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}



.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements-cards {
    display: flex;
    flex-direction: column;
}

.cards-row {
    display: flex;
    justify-content: space-between;
}

.cards-row a {
   margin-top: 30px;
   width: calc(33.33% - 20px); /* Calculer la largeur pour que les trois cartes s'adaptent sur une ligne avec un espace entre */
   margin-right: 20px; 
}

.hebergements-cards .card {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 20px; 
}

.hebergements-cards .card-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

.hebergements-cards img {
    width: 100%;
    height: 130px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-cards .card-title,
.hebergements-cards .card-subtitle,
.hebergements-cards .card-rating {
    margin-left: 0px;
    margin-right: 0px;
}




/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/***************** Header ***************/

header{
    width:100%;
    height:5%;
    display:flex;
    align-items: center;
    justify-content:space-between
}

header img{
    width: auto;
    height:30%;
}

.header-links{
    display:flex;
    justify-content: space-evenly;
    align-content: flex-end;
    width: 30%;
    height:100%;
    font-weight: 500;
}

.header-links a {
    border-top: 2px solid transparent; 
    transition: border-top-color 0.3s ease; /* Transition pour l'animation */
    padding-top:15px;
}

.header-links a:hover{
    color:#0065FC;
    border-color: #0065FC; 
}

/*************** Search bar and filters *********************/
.search-and-filters {
    display: flex;
    flex-direction: column;
    margin-bottom:2%;
}

.search-and-filters h1 {
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 0;
}

.search-and-filters p {
    margin-top: 0;
    margin-bottom: 20px;
}

.search-bar {
    display: flex;
}

.search-bar form {
    display: flex;
    border-radius: 10px;
    align-items: center;
    height: 100%;
    background-color: #F2F2F2;
}

.search-bar input[type="text"] {
    padding: 10px 0 10px 0;
    border: none;
    background-color: white;
    color: black;

}

.search-bar input[type="text"]::placeholder {
    color: black;
    font-weight: bold;
    text-align: center;
}

.search-bar button {
    background-color: #0065FC;
    color: white;
    border: none;
    font-weight: bold;
    padding: 12px 20px; 
    border-top-right-radius: 10px; 
    border-bottom-right-radius: 10px; 
}

.search-bar i {
    color: black;
    margin-left: 10px;
    margin-right: 5px;
    padding:0 5px 0 5px;
}

.search-bar button[type="submit"] span {
    display: block; 
}


.search-bar button[type="submit"] i.fa-magnifying-glass {
    display: none; 
    color:white;
    margin:0;
}

.filters{
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.filter-button {
    align-items: center;
    justify-content: space-evenly;
    padding: 10px 20px;
    border-radius: 20px;
    border: 2px solid #d9d9d9; /* Bordure initiale */
    background-color: transparent; /* Fond initial */
    font-weight: bold;
    transition: all 0.3s ease; /* Animation fluide */
    margin-left:20px;
}

.filter-button:hover {
    background-color: #DEEBFF;
}

.info{
    display: flex;
    align-items: center;
}

.info i{
    border:1px solid #d9d9d9;
    border-radius: 50%;
    padding:5px 10px 5px 10px;
    margin-right:20px;
}

.info p{
    margin:0;
}


/***************** Activities ***************/

.activities {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    padding:20px;

}

.activities-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height:100%;
}

.activities-cards a {
    width: calc(25% - 20px); /* Calculer la largeur pour que les trois cartes s'adaptent sur une ligne avec un espace entre */
}


.activities-cards img {
    width: 100%; 
    height: 350px;
    margin: 0;
    padding: 0;
}


.activities-cards .card{
    padding:0;
    overflow: hidden;
    height:100%;
}

.activities-cards .card-title {
    padding: 0px 0 0 20px;
}

/***************** Footer ***************/

footer {
    display: flex;
    justify-content: space-between;
    background-color: #f2f2f2;
    padding: 20px;
    margin-top: 50px;
}

.footer-column {
    flex: 1;
}

.footer-column h3 {
    font-weight: bold;
}

.footer-column ul {
    list-style-type: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 5px;
}

.footer-column ul li strong {
    font-weight: bold;
}


/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    /* Hebergements and populaires */
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .card-title {
        font-size: 14px;
    }

    .card-subtitle {
        font-size: 13px;
    }

     /* Header, filters and activities */

    .header-links a {
        margin-left:0px;
    }

    .activities-cards img {
        height: 150px;
    }

    .activities-cards .card-title {
        padding-left:10px;
        padding-right:10px;
    }

    /* Filters for tablets, less padding */
    .filter-button{
        padding:10px;
    }


    
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767px) {
   
    body {
        padding: 0;
        margin:0;
    }
    .main-container {
        padding: 0 ;
    }

   /* Header and search/filters */

    header{
        flex-direction: column;
        margin-top:20px;
        height: auto;
    }
    
    header img{
        width:25%;
    }
    
    .header-links{
        width: 100%;
        height:30%;
        align-items: end;
    }
    
    .header-links a {
        text-align: center;
        width:50%;
        border-top:none;
        border-bottom: 2px solid #d9d9d9;
        transition: border-bottom-color 0.3s ease;
        padding-top:30px;
        padding-bottom:10px;
    }


    .search-and-filters h1 {
        font-size: 20px;
    }

    .search-and-filters p {
        font-size: 14px;
    }

    .search-bar button[type="submit"] i.fa-magnifying-glass {  /* Show the magnifying glass icon */
        display: block;
    }

    .search-bar button[type="submit"] span { /* Hide the text */
        display: none;
    }

    .search-bar button { /* Adjusting the button and adding shadow */
        padding: 12px 6px; 
        border-radius: 10px; 
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.308);
    }

    .search-bar input[type="text"] {
        width:100%;
    }

    #search-form{ /* On mobile, the search bar takes the full width */
        width:100%;}
        
    .filters{
        flex-wrap: wrap;
        justify-content: space-around;

    }

    .filter-title{
        width:100%;
    }

    .filter-button {
        width:45%;
        height:40px;
        margin:10px 0 0 0;
        padding:0;
    }
    
    .filter-button i{
        font-size: 16px;
    }

    .search-and-filters{
        padding: 0 20px;
    }

    /* Hebergements and populaires */

    .hebergements-and-populaires {
        flex-direction: column-reverse;
    }
    
    .hebergements-and-populaires section {
        padding:10px;
        border-radius: 0;
    }

    .populaires-cards{
        flex-direction: column;
        margin-bottom:20px;
    }

    .populaires-cards a{
        width:100%;
    }

    .populaires-cards .card{
        margin-top:15px;
    }

    .populaires-title{
        margin-top:20px;
    }

    .populaires{
        background-color: var(--main-bg-color);
    }

    .hebergements{
        background-color: rgb(255, 255, 255)!important;
        margin-top:20px;
    }

    .hebergements-cards {
        margin-top:10px;
    }
    

    .cards-row{
        flex-direction: column;
        padding-right:10px;
       
    }

    .cards-row a{
        width:100%;
        margin:0;
        justify-content: center;
    }

    .hebergements-cards img{
        height: 100px;
    }

   .hebergements .card-title,
   .hebergements .card-subtitle {
        font-size: 14px; 
        margin:5px 0 0 0;
    }

    /* Activities */

    .activities{
        margin-top:0;
    }

    .activities-cards{
        flex-direction: column;
    }

    .activities-cards a{
        width:100%;
        margin-top:15px;
    }

    /* footer */
    footer {
        flex-direction: column;
    }
}